<div class="container-fluid min-vh-100 min-vw-100 m-0 p-0">

    <!--NavBar-->
    <nav class="navbar navbar-expand-lg navbar-color px-3">
        <a class="navbar-brand" href="#"><div class="rounded logo py-1 px-2 text-light">PAE</div></a>
        <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
          <div class="navbar-nav">
            <a class="nav-item nav-link active text-light atendimento-button" href="#">Atendimento</a>
          </div>
        </div>
      </nav>

      <!--Button Cadastro + Painel Filtros + Botão filtrar-->
      <div class="row mt-5 mx-4 d-flex" id="button-shadow">

        <!--Button cadastrar-->
        <div class="col-md-2 mt-1 ml-1 p-0">
            <button class="btn-cadastro text-light col-md-12 ml-auto">+ Novo Cadastro</button>
        </div>

        <!--Painel filtros-->
        <div class="col-md-5 m-0 p-0">
            <div class="painel-filtros row p-4">

                <!--Conjunto de filtros 1-->
                <div class="col-md-4">
                    <div class="filtro-geral">
                        <label for="" class="col-md-12">Status</label>
                        <select name="" id="">
                            <option value="aguardando">Aguardando tratativa</option>
                            <option value="concluido">Concluído</option>
                        </select>
                    </div>

                    <div class="filtro-geral">
                        <label for="" class="col-md-12">Setor</label>
                        <select name="" id="">
                            <option value="aguardando">RH</option>
                            <option value="concluido">Documentos</option>
                        </select>
                    </div>
                </div>

                <!--Conjunto de filtros 2-->
                <div class="col-md-4">
                    <div class="filtro-geral">
                        <label for="" class="col-md-12">Status</label>
                        <select name="" id="">
                            <option value="aguardando">Aguardando tratativa</option>
                            <option value="concluido">Concluído</option>
                        </select>
                    </div>

                    <div class="filtro-geral">
                        <label for="" class="col-md-12">Setor</label>
                        <select name="" id="">
                            <option value="aguardando">RH</option>
                            <option value="concluido">Documentos</option>
                        </select>
                    </div>
                </div>

                <!--Conjunto de filtros 3-->
                <div class="col-md-4">
                    <div class="filtro-geral">
                        <label for="" class="col-md-12">Status</label>
                        <select name="Data1" id="">
                            <option value="aguardando">Aguardando tratativa</option>
                            <option value="concluido">Concluído</option>
                        </select>
                    </div>

                    <div class="filtro-geral">
                        <label for="" class="col-md-12">Setor</label>
                        <select name="Data2" id="">
                            <option value="aguardando">RH</option>
                            <option value="concluido">Documentos</option>
                        </select>
                    </div>
                </div>


            </div>
        </div>


        <!-- Ocupar espaço -->
        <div class="col-md-3 d-flex">
            
        </div>

        <!-- Botão filtrar -->
        <div class="col-md-2 d-flex" id="btn-filtrar">
            <button class="botão-filtrar text-light d-flex align-self-center justify-content-center align-items-center">Filtrar</button>
        </div>

      </div>

</div>